@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}


body {
  text-align : center;
  margin: 0;
  padding: 0;
  background-color: #92CFF0;
  background: url("../img/sky.png")  no-repeat  center/cover  fixed;
  
  font-size: 16px;
  color: #222;
  font-family: 'Cute Font', cursive;
  font-weight: 300;
  text-align: center;
}

.bgimg{
	background: url("../img/sky.png")  no-repeat  center/cover  fixed;
	min-height: 100%;
	background-position: :center;
	background-size: cover;
}

#modifycontact-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#insertcontact-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#modifyuser-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#join-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#main-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#adminmain-box {
  position: relative;
  margin: 5% auto;
  width: 700px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  
  text-align: center;
}

#adminusermain-box {
  position: relative;
  margin: 5% auto;
  width: 630px;
  height: auto;
  background: #FFF;
  
  border-radius: 20px;
  font-family: 'Cute Font', cursive;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#join-result-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: 200px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: 450px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}



h1 {
  margin: 15px 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  font-family: 'Cute Font', cursive;
}

h2 {
  margin: 5px 0 20px 0;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  font-family: 'Cute Font', cursive;
}


input[type="text"],
input[type="password"] {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 200px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Cute Font', cursive;
  font-weight: 400;
  font-size:20px;
  transition: 0.2s ease;
  text-align: center;
}

input.name {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 100px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Cute Font', cursive;
  font-weight: 400;
  font-size: 20px;
  transition: 0.2s ease;
  text-align: center;
}
input.duplicate {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 120px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Cute Font', cursive;
  font-weight: 400;
  font-size: 20px;
  transition: 0.2s ease;
  text-align: center;
}
input.password {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 140px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Cute Font', cursive;
  font-weight: 400;
  font-size: 20px;
 transition: 0.2s ease;
  text-align: center;
}

input.phone {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 50px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Cute Font', cursive;
  font-weight: 400;
  font-size: 20px;
  transition: 0.2s ease;
  text-align: center;
}



input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
  text-align: center;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #8ECEF1;
  border: none;
  border-radius: 2px;
  
  color: #FFF;
  font-family: 'Cute Font', cursive;
  font-size:20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  text-align: center;
  transition: 0.2s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  text-align: center;
  transition: 0.2s ease;
}
input[type="radio"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
  text-align: center;
}




.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

a{
  color: #FFF;
  font-family: 'Cute Font', cursive;
  font-size:20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  text-decoration : none;
  text-align: center;
}

a.page{
  color: #FFA048;
  font-family: 'Cute Font', cursive;
  font-size:20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  text-decoration : none;
  text-align: center;
}

a.listing{
  color: #8ECEF1;
  font-family: 'Cute Font', cursive;
  font-size:20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  text-decoration : none;
  text-align: center;	
}


table{
  margin-top: 5px;
  height: 32px;
  background: #8ECEF1;
  border: none;
  border-radius: 5px;
  padding-left : 10px;
  padding-right : 10px;
  padding : 5px;
  
  color: #FFF;
  font-family: 'Cute Font', cursive;
  font-weight: 500;
  text-indent: 10px;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
}

tr.listing{
  margin-top: 28px;
  height: 32px;
  background: #FFF;
  border: none;
  border-radius: 5px;
  padding-left : 10px;
  padding-right : 10px;
  
  color: #8ECEF1;
  font-family: 'Cute Font', cursive;
  font-weight: 500;
  text-indent: 10px;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
}

th{
  margin-top: 28px;
  height: 32px;
  background: #8ECEF1;
  border: none;
  border-radius: 5px;
  padding-left : 0px;
  padding-right : 10px;
  
  color: #FFF;
  font-family: 'Cute Font', cursive;
  font-weight: 500;
  text-indent: 10px;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
	
}

td{
  margin-top: 28px;
  height: 32px;
  background: #FFF;
  border: none;
  border-radius: 5px;
  padding-left : 0px;
  padding-right : 10px;
  
  color: #8ECEF1;
  font-size:20px;
  font-family: 'Cute Font', cursive;
  font-weight: 500;
  text-indent: 10px;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
	
}

button.social-signin {
  margin-top: 0px;
  width: 120px;
  height: 32px;
  background: #8ECEF1;
  border: none;
  border-radius: 2px;
  margin-left : 5px;
  margin-right : 5px;
  
  color: #FFF;
  font-family: 'Cute Font', cursive;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  text-align: center;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  text-align: center;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  text-align: center;
}

body{
  background-color: #81cee8;
}
.main_window{
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 auto;
  width: auto;
  height: auto;
  position: relative;
}

<!-- 구름이펙트 -->
div{
  margin: 0px;
  padding: 0px;
}

.cloud{
  width: 200px;
  height: 50px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute; 
  top:100;
}

[data-type=white_1]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 20px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 80px 0 0 10px #fff, 40px 0 0 20px #fff, 110px 0 0 -5px #fff;  
}

[data-type=white_2]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 20px #fff, 80px -10px 0 10px #fff, 115px -5px 0 -10px #fff;
}

[data-type=white_3]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 15px #fff, 90px 0px 0 15px #fff;
}

[data-type=white_4]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 20px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 80px 0 0 10px #fff, 40px 0 0 20px #fff, 110px 0 0 -5px #fff,
              80px 25px 0 10px #fff, 40px 25px 0 20px #fff, 0 40px 0 -5px #fff;
}

[data-type=white_5]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 20px #fff, 80px -10px 0 10px #fff, 115px -5px 0 -10px #fff,
              20px 30px 0 20px #fff, 70px 30px 0 10px #fff, 105px 40px 0 -10px #fff;
}

[data-type=white_6]:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #fff;   
  border-radius: 30px;
  position: absolute;
  box-shadow: 40px -10px 0 15px #fff, 90px 0 0 15px #fff,
              20px 30px 0 15px #fff, 80px 40px 0 15px #fff;
}

@-webkit-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@-moz-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@-ms-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@-o-keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}
@keyframes linemove
{
from {left:-200px;}
to {left:1456px;}
}


[data-speed="1"]{
  animation: linemove 44.01936s;
  -webkit-animation: linemove 44.01936s;

}
[data-speed="2"]{
  animation: linemove 28.67113s;
  -webkit-animation: linemove 28.67113s;

}
[data-speed="3"]{
  animation: linemove 36.99853s;
  -webkit-animation: linemove 36.99853s;

}
[data-speed="4"]{
  animation: linemove 22.6682s;
  -webkit-animation: linemove 22.6682s;

}
[data-speed="5"]{
  animation: linemove 21.20363s;
  -webkit-animation: linemove 21.20363s;

}
[data-speed="6"]{
  animation: linemove 36.46404s;
  -webkit-animation: linemove 36.46404s;

}
[data-speed="7"]{
  animation: linemove 45.58272s;
  -webkit-animation: linemove 45.58272s;

}
[data-speed="8"]{
  animation: linemove 31.02697s;
  -webkit-animation: linemove 31.02697s;

}
[data-speed="9"]{
  animation: linemove 23.79332s;
  -webkit-animation: linemove 23.79332s;

}
[data-speed="10"]{
  animation: linemove 35.69691s;
  -webkit-animation: linemove 35.69691s;

}
[data-speed="11"]{
  animation: linemove 36.87823s;
  -webkit-animation: linemove 36.87823s;

}
[data-speed="12"]{
  animation: linemove 20.158s;
  -webkit-animation: linemove 20.158s;

}
[data-speed="13"]{
  animation: linemove 17.34752s;
  -webkit-animation: linemove 17.34752s;

}
[data-speed="14"]{
  animation: linemove 22.19251s;
  -webkit-animation: linemove 22.19251s;

}
[data-speed="15"]{
  animation: linemove 25.91683s;
  -webkit-animation: linemove 25.91683s;

}
[data-speed="16"]{
  animation: linemove 17.46605s;
  -webkit-animation: linemove 17.46605s;

}
[data-speed="17"]{
  animation: linemove 22.15188s;
  -webkit-animation: linemove 22.15188s;

}
[data-speed="18"]{
  animation: linemove 27.5939s;
  -webkit-animation: linemove 27.5939s;

}
[data-speed="19"]{
  animation: linemove 40.26929s;
  -webkit-animation: linemove 40.26929s;

}
[data-speed="20"]{
  animation: linemove 12.73873s;
  -webkit-animation: linemove 12.73873s;

}
[data-speed="21"]{
  animation: linemove 11.34359s;
  -webkit-animation: linemove 11.34359s;

}
[data-speed="22"]{
  animation: linemove 24.98947s;
  -webkit-animation: linemove 24.98947s;

}
[data-speed="23"]{
  animation: linemove 43.17049s;
  -webkit-animation: linemove 43.17049s;

}
[data-speed="24"]{
  animation: linemove 28.77146s;
  -webkit-animation: linemove 28.77146s;

}
[data-speed="25"]{
  animation: linemove 19.03643s;
  -webkit-animation: linemove 19.03643s;

}
[data-speed="26"]{
  animation: linemove 44.53789s;
  -webkit-animation: linemove 44.53789s;

}
[data-speed="27"]{
  animation: linemove 26.64436s;
  -webkit-animation: linemove 26.64436s;

}
[data-speed="28"]{
  animation: linemove 41.99245s;
  -webkit-animation: linemove 41.99245s;

}
[data-speed="29"]{
  animation: linemove 18.44574s;
  -webkit-animation: linemove 18.44574s;

}
[data-speed="30"]{
  animation: linemove 19.09319s;
  -webkit-animation: linemove 19.09319s;

}
[data-speed="31"]{
  animation: linemove 34.62887s;
  -webkit-animation: linemove 34.62887s;

}
[data-speed="32"]{
  animation: linemove 33.08773s;
  -webkit-animation: linemove 33.08773s;

}
[data-speed="33"]{
  animation: linemove 10.0134s;
  -webkit-animation: linemove 10.0134s;

}
[data-speed="34"]{
  animation: linemove 39.82966s;
  -webkit-animation: linemove 39.82966s;

}
[data-speed="35"]{
  animation: linemove 36.10109s;
  -webkit-animation: linemove 36.10109s;

}
[data-speed="36"]{
  animation: linemove 47.62616s;
  -webkit-animation: linemove 47.62616s;

}
[data-speed="37"]{
  animation: linemove 39.53287s;
  -webkit-animation: linemove 39.53287s;

}
[data-speed="38"]{
  animation: linemove 21.86695s;
  -webkit-animation: linemove 21.86695s;

}
[data-speed="39"]{
  animation: linemove 48.20212s;
  -webkit-animation: linemove 48.20212s;

}
[data-speed="40"]{
  animation: linemove 26.6844s;
  -webkit-animation: linemove 26.6844s;
}

.cloud{
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  -webkit-animation-delay: -50s;
}
